html,
body {
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	overflow: hidden;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

#log{
    max-height: 140px;
    overflow-y: scroll;
		margin: 0;
}
